name: Update Dev Release Branch

on:
  push:
    branches:
      - main

jobs:
  update-dev-release-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Configure Git user
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com

      - name: Fetch main
        run: | 
          git fetch

      - name: Check if dev-release branch exists
        run: |
          if git rev-parse --verify --quiet origin/dev-release
          then
            echo "in if"
            git push origin -d dev-release
          fi
          git checkout -b dev-release

      - name: Modify manifest.json file
        run: |

          # Replace the name of the extension
          sed -i "s/\"name\": \".*\"/\"name\": \"Dendron.Dev\"/" manifest.json
          # Update the icon filenames
          sed -i 's/"72": "icons\/72.png"/"72": "icons\/72_dev.png"/' manifest.json
          sed -i 's/"128": "icons\/128.png"/"128": "icons\/128_dev.png"/' manifest.json

          # Commit the changes with a custom message
          git add manifest.json
          git commit -m "update extension name and icon in manifest.json"

      - name: Push changes to dev-release branch
        run: git push --force-with-lease origin dev-release